*{
    margin: 0;
    padding: 0;
}
body{
    min-height:100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bck-image{
    background-image: url(media.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%; 
    object-fit: cover;
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
    
}
.nav-link{
    font-size: 110%;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items:center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.648);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px  rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
     display: none;
}
.container{
    position: fixed;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%)
}
.form-button{
background: #4ba4e7;
color: #fff;
font-size: 12px;
border-radius: 8px;
transition-duration: 0.2s;
height: 40px;
width:30% ;
}
.form-button:hover {
    background: #0e89ed ;
    color: #ecf5fc;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-shadow: none;
}
.fieldinput{
    height: 7%;
    width: 30%;
    margin-bottom:5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.fieldinput::placeholder {
    color: #2f2c2c; /* Adjust placeholder text color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5; /* Adjust placeholder opacity */
  }
.prediction{
    color: white;
}
@media (max-width:650px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display:block;
    }
}

@media (max-width: 400px){
    .sidebar{
        width: 100%;  

    }
}
