<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston Housing Prediction</title>
    <link rel="stylesheet" href="static\styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body>
    <div class="bck-image">
        {% include 'nav.html' %}
        <div style="height: 40px;"></div>
        <div style="padding-left:30px;height:40%;width:80% " class="container">
            <form style="height:150%" action="{{url_for('predict')}}" method="post">
                <input type="text" class="fieldinput" name="CRIM" placeholder=" CRIM" required="required"><br>
                <input type="text" class="fieldinput" name="ZN" placeholder=" ZN" required="required"><br>
                <input type="text" class="fieldinput" name="INDUS" placeholder=" INDUS" required="required"><br>
                <input type="text" class="fieldinput" name="CHAS" placeholder=" CHAS" required="required"><br>
                <input type="text" class="fieldinput" name="NOX" placeholder=" NOX" required="required"><br>
                <input type="text" class="fieldinput" name="RM" placeholder=" RM" required="required"><br>
                <input type="text" class="fieldinput" name="AGE" placeholder=" AGE" required="required"><br>
                <input type="text" class="fieldinput" name="DIS" placeholder=" DIS" required="required"><br>
                <input type="text" class="fieldinput" name="RAD" placeholder=" RAD" required="required"><br>
                <input type="text" class="fieldinput" name="TAX" placeholder=" TAX" required="required"><br>
                <input type="text" class="fieldinput" name="PIRATIO" placeholder=" PIRATIO" required="required"><br>
                <input type="text" class="fieldinput" name="B" placeholder=" B" required="required"><br>
                <input type="text" class="fieldinput" name="LSTAT" placeholder="LSTAT" required="required"><br>
                <div style="padding-top:10px;"></div>
                <button type="submit" class="form-button"><h3>Predict</h3></button>
            </form>
            <div style="margin-bottom: 13%;"></div>
            <h4 class="prediction">{{prediction_text}}</h4>
        </div>

        

    </div>

</body>

</html>